In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [ ]:
data=pd.read_csv('/content/train_data (1).csv')

In [ ]:
data.shape

(7000, 10)

In [ ]:
data.columns

Index(['loan_id', 'age', 'education', 'proof_submitted', 'loan_amount',
       'asset_cost', 'no_of_loans', 'no_of_curr_loans', 'last_delinq_none',
       'loan_default'],
      dtype='object')

In [ ]:
data.head(10)

,loan_id,age,education,proof_submitted,loan_amount,asset_cost,no_of_loans,no_of_curr_loans,last_delinq_none,loan_default
0,1,27,1.0,Aadhar,504264,820920,2,2,0,0
1,2,48,1.0,Aadhar,728556,831444,6,2,0,0
2,3,30,2.0,VoterID,642936,826092,0,0,0,1
3,4,28,1.0,Aadhar,746556,930924,0,0,0,0
4,5,29,1.0,Aadhar,1139880,1902000,0,0,0,0
5,6,34,2.0,Aadhar,779784,902040,0,0,0,1
6,7,27,2.0,Aadhar,449268,847896,0,0,0,0
7,8,27,2.0,Aadhar,582036,905604,0,0,0,1
8,9,30,1.0,Aadhar,712956,866292,0,0,0,0
9,10,46,2.0,Aadhar,554988,761724,3,0,0,1

In [ ]:
#look_up_fruit=dict(zip(data.fruit_label.unique(), data.fruit_name.unique()))

In [ ]:
#look_up_fruit

In [ ]:
"""assert isinstance(data, pd.DataFrame), "df needs to be a pd.DataFrame"
data.dropna(inplace=True)
indices_to_keep = ~data.isin([np.nan, np.inf, -np.inf]).any(1)
data[indices_to_keep].astype(np.float64)"""

'assert isinstance(data, pd.DataFrame), "df needs to be a pd.DataFrame"\ndata.dropna(inplace=True)\nindices_to_keep = ~data.isin([np.nan, np.inf, -np.inf]).any(1)\ndata[indices_to_keep].astype(np.float64)'

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['proof_submitted']= label_encoder.fit_transform(data['proof_submitted'])
data.head()

,loan_id,age,education,proof_submitted,loan_amount,asset_cost,no_of_loans,no_of_curr_loans,last_delinq_none,loan_default
0,1,27,1.0,0,504264,820920,2,2,0,0
1,2,48,1.0,0,728556,831444,6,2,0,0
2,3,30,2.0,4,642936,826092,0,0,0,1
3,4,28,1.0,0,746556,930924,0,0,0,0
4,5,29,1.0,0,1139880,1902000,0,0,0,0

In [ ]:
X=data[['loan_id','age','education','proof_submitted','loan_amount','asset_cost','no_of_loans','no_of_curr_loans',	'last_delinq_none']]
y=data['loan_default']

In [ ]:
print(X.shape)
print(y.shape)

(7000, 9)
(7000,)

In [ ]:
#X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=0)
X_train=X
y_train=y

In [ ]:
testdata=pd.read_csv('/content/test_data.csv')

In [ ]:
testdata['proof_submitted']= label_encoder.fit_transform(testdata['proof_submitted'])

In [ ]:
X_test=testdata[['loan_id','age','education','proof_submitted','loan_amount','asset_cost','no_of_loans','no_of_curr_loans',	'last_delinq_none']]

In [ ]:
X_train.shape

(7000, 9)

In [ ]:
y_train.shape

(7000,)

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train=scaler.fit(X_train)
#scaler.fit(np.array(y_train).reshape(-1, 1))

In [ ]:
if(np.any(np.isnan(X)) or np.all(np.isfinite(X)) or np.any(np.isnan(y)) or np.all(np.isfinite(y))):
  print()
else:
  knn.fit(X_train, y_train)

#knn.fit(X_train, y_train)

In [ ]:
knn.fit((np.array(X_train)).reshape(-1, 1), y_train))
y_predict=knn.predict(X_test)
#y_correct=np.array(y_test)
#print(np.concatenate((y_predict.reshape(len(y_predict), 1), y_correct.reshape(len(y_correct),1)),axis=1))

AttributeError: ignored

In [ ]:
knn.score(X_test, y_test)

In [ ]:
knn.score(X_train, y_train)

In [ ]:
conf_mat=confusion_matrix(y_test, y_predict)
print(conf_mat)

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

In [ ]:
fruit1_new = np.array([[100, 6.3, 8.5]])

In [ ]:
prediction1 = knn.predict(fruit1_new)

In [ ]:
look_up_fruit[prediction1[0]]

In [ ]:
k_range = range(1,20)
scores = []
for k in k_range:
 knn = KNeighborsClassifier(n_neighbors = k)
 knn.fit(X_train, y_train)
 scores.append(knn.score(X_test, y_test))
plt.figure()
plt.xlabel('k_value')
plt.ylabel('Accuracy')
plt.scatter(k_range, scores)
plt.xticks(range(0,21));

In [ ]:
t = [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8]
knn = KNeighborsClassifier(n_neighbors = 3)
plt.figure()
for split in t:
  scores = []
  for i in range(1,1000):
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = split)
    knn.fit(X_train, y_train)
    scores.append(knn.score(X_test, y_test))
  plt.plot(split, np.mean(scores), 'r^')
plt.xlabel('Training set proportion (%)')
plt.ylabel('Accuracy');