In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/Iris.csv')
data.columns=['Id','Sepal_len_cm','Sepal_wid_cm','Petal_len_cm','Petal_wid_cm','Species']
data.head(10)

   Id  Sepal_len_cm  Sepal_wid_cm  Petal_len_cm  Petal_wid_cm      Species
0   1           5.1           3.5           1.4           0.2  Iris-setosa
1   2           4.9           3.0           1.4           0.2  Iris-setosa
2   3           4.7           3.2           1.3           0.2  Iris-setosa
3   4           4.6           3.1           1.5           0.2  Iris-setosa
4   5           5.0           3.6           1.4           0.2  Iris-setosa
5   6           5.4           3.9           1.7           0.4  Iris-setosa
6   7           4.6           3.4           1.4           0.3  Iris-setosa
7   8           5.0           3.4           1.5           0.2  Iris-setosa
8   9           4.4           2.9           1.4           0.2  Iris-setosa
9  10           4.9           3.1           1.5           0.1  Iris-setosa

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
X, y = make_classification(n_samples=100, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y,random_state=1)
clf = MLPClassifier(random_state=1, max_iter=300).fit(X_train, y_train)
clf.predict_proba(X_test[:1])
clf.predict(X_test[:5, :])
clf.score(X_test, y_test)

0.88

In [ ]:
clf

MLPClassifier(max_iter=300, random_state=1)